venv/
node_modules/
__pycache__/
*.pyc
.DS_Store
.env
google-cloud-sdk/
google-cloud-cli-*.tar.gz
services/services/
services/Mac/
*.py#
main
.env.local
app_log.txt
.DS_Store
*.save
*.bash
venv/
__pycache__/
*.log
