flask==3.0.2
flask-limiter==3.7.0
flask-cors==4.0.0
flask-wtf==1.2.1
flask-swagger-ui==4.11.1
werkzeug==3.0.1
gunicorn==21.2.0
gevent==24.2.1

python-dotenv==1.0.1
structlog==24.1.0
requests==2.32.3

pandas==2.2.2
yfinance==0.2.43
pymongo==4.6.3
redis==5.0.3

stripe==10.8.0
google-genai==0.3.0
